@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 20 14.3% 2.1%;

    --card: 0 0% 95%;
    --card-foreground: 20 14.3% 2.1%;

    --popover: 0 0% 95%;
    --popover-foreground: 20 14.3% 2.1%;

    --primary: 24 9.8% 8%;
    --primary-foreground: 60 9.1% 92.8%;

    --secondary: 60 4.8% 90.9%;
    --secondary-foreground: 24 9.8% 8%;

    --muted: 60 4.8% 90.9%;
    --muted-foreground: 25 5.3% 42.7%;

    --accent: 60 4.8% 90.9%;
    --accent-foreground: 24 9.8% 8%;

    --destructive: 0 77% 48.3%;
    --destructive-foreground: 60 9.1% 92.8%;
    --destructive-background: 0 64.2% 48.2%;

    --border: 20 5.9% 85%;
    --input: 20 5.9% 85%;
    --ring: 20 14.3% 2.1%;

    --radius: 0rem;
  }

  .dark {
    --background: 20 0% 12.1%;
    --foreground: 60 4.5% 97.8%;

    --card: 20 7.1% 12.1%;
    --card-foreground: 60 4.5% 97.8%;

    --popover: 20 7.1% 12.1%;
    --popover-foreground: 60 4.5% 97.8%;

    --primary: 60 4.5% 97.8%;
    --primary-foreground: 24 4.9% 18%;

    --secondary: 12 3.2% 23.1%;
    --secondary-foreground: 60 4.5% 97.8%;

    --muted: 12 3.2% 23.1%;
    --muted-foreground: 24 2.7% 71.9%;

    --accent: 12 3.2% 23.1%;
    --accent-foreground: 60 4.5% 97.8%;

    --destructive: 0 80.8% 55.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --destructive-background: 0 62.8% 38.6%;

    --border: 12 3.2% 23.1%;
    --input: 12 3.2% 23.1%;
    --ring: 24 2.8% 90.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
